<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container">
		<div class="row">
			<div class="login-form">
				<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->
				<div th:if="${param.error}">
					<div class="alert alert-danger col-sm-9">Invalid username or
						password.</div>
				</div>
				<form th:action="@{/login}" method="POST">
					<h2 class="text-center">Log in</h2>
					<div class="form-group">
						<input type="text" id="username" name="username"
							th:placeholder="Username" class="form-control" />
					</div>

					<div class="form-group">
						<input type="password" th:placeholder="Password" id="password"
							name="password" class="form-control" />
					</div>

					<div class="form-group">
						<button class="btn btn-primary btn-block" name="Submit"
							value="Login" type="Submit" th:text="Login"></button>
					</div>
				</form>
				<p class="text-center">
					<a href="#">Create an Account</a>
				</p>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout :: footer"></footer>
</body>

</html>
