<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
	<title>Upload</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="h-100">
  <div th:insert="_header :: header">
  </div>
	<div class="container upload">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <!-- <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">
          Your Favorite Source of Free Bootstrap Themes
        </h1>
      </div> -->
      <div class="center">
        <a class="btn btn-primary" href="#about">Gửi bài</a>
      </div>
    </div>
  </div>
</body>
</html>
