<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<header th:replace="layout :: header"></header>

	<div class="container main">
		<div class="content">
			<div class="mx-auto">
				<div th:if="${successMessage}"
					class="col-12 alert alert-success alert-dismissible fade show"
					role="alert">
					<span th:text="${successMessage}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<h2>Danh sách tài khoản</h2>

				<div class="row tools">
					<div class="col-6 ">
						<form class="form-inline" action="#" th:action="@{/user/search}"
							method="get">
							<input class="form-control mr-sm-2" type="search" name="term"
								placeholder="Tìm theo tên ..." />
							<button class="btn btn-primary" type="submit">
								<i class="fa fa-search"></i> Tìm
							</button>
						</form>
					</div>

					<div class="col-6" sec:authorize="hasRole('ADMIN')">
						<a href="#" th:href="@{/registration}"
							class="btn btn-success float-right"> <i
							class="fa fa-plus-square"></i> Tạo tài khoản
						</a>
					</div>
				</div>

				<th:block th:if="${#lists.isEmpty(users)}">
					<h5>Không có tài khoản nào</h5>
				</th:block>

				<th:block th:unless="${#lists.isEmpty(users)}">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th style="width: 10%">#</th>
									<th>Tên tài khoản</th>
									<th style="width: 15%" sec:authorize="hasRole('ADMIN')"
										class="text-center">Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user,iterStat : ${users}">
									<th scope="row" th:text="${iterStat.count}"></th>
									<td th:text="${user.username}"></td>
									<td class="text-center" sec:authorize="hasRole('ADMIN')"><a
										href="#" th:href="@{/user/edit/{id}(id=${user.id})}"
										class="mr-sm-3 text-primary"> <i class="fa fa-pencil"></i>
									</a> <a href="#" th:href="@{/user/delete/{id}(id=${user.id})}"
										class="text-danger"> <i class="fa fa-trash"></i>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</th:block>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>

</body>
</html>
